@import "../../scss/variable";
@import "../../scss/mixins";

.input-block {
  position: relative;
  line-height: 20px;
  &__body {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    border: 2px solid $color-white;
    border-radius: 3px;
    content: '';
  }
  &__label {
    font-size: 16px;
  }
  &__icon {
    display: none;
    height: 14px;
    &:before {
      font-size: 14px;
    }
  }
  input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
    & + .input-block__label {
      position: relative;
      display: block;
      padding-left: 35px;
    }
    &:focus {
      & + label {
        .input-block__body {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }
      }
    }
    &:checked {
      & + .input-block__label {
        .input-block__icon {
          @include flexBox(center, center);
          z-index: 1;
        }
        .input-block__body {
          background: $color-white;
        }
      }
    }
  }
}