@import '../../scss/variable';
@import '../../scss/mixins';

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $color-main;
  &__banner {
    @include flexBox(center, center);
    color: $color-white;
    margin: auto;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 5px;
    &-sub {
      font-size: 20px;
      margin-bottom: 30PX;
    }
  }
  &__image {
    max-width: 60%;
  }
  .button {
    min-width: 120px;
    font-size: 16px;
    padding: 8px;
  }
}

