@import "../../scss/variable";
@import "../../scss/mixins";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: $color-white;
  transform: translate(-50%, -50%);
  padding: 20px;

  @include flexBox;
  @include flexFlow(wrap);
  &__show {
    display: block;
  }
}