@import "../../containers/scss/variable";

.modal {
  //display: none;
  //position: fixed;
  //left: 0;
  //right: 0;
  //top: 0;
  //bottom: 0;
  background: red;
  &__show {
    display: block;
  }
  p {
    color: #ffffff;
  }
}