.Button {
  padding: 0.5rem 1.3rem;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.2rem solid orange;
  outline: none;
}

.Button--default {
  background-color: orange;
}

.Button--secondary {
  background-color: white;
  color: black;
}

.Button--anchor {
  border: none;
  color: black;
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
}
