@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$font-base: 'Roboto', sans-serif;




$color-white: #ffffff;
$color-black: #000000;

$color-1-1: $color-black;

$color-2-1: #f58750;

$color-3-1: #00BCD4;

$color-4-1: #b3a2b9;

$color-5-1: #0078f5;



$color-main: $color-5-1;
$color-title: $color-4-1;
$color-link: $color-2-1;
$color-button: $color-2-1;

$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 600;
$extrabold: 800;
$black: 900;

$break-d-xxx:   1650px; //  desktop-xxx
$break-d-xx:    1450px; //  desktop-xx
$break-d-x:     1150px; //  desktop-x
$break-d-l:     1024px; //  desktop-l
$break-d-m:     930px;  //  desktop-m
$break-d-s:     860px;  //  desktop-s
$break-t-l:     767px;  //  tablet-l
$break-t-m:     736px;  //  tablet-m
$break-t-s:     667px;  //  tablet-s
$break-m-l:     568px;  //  mobile-l
$break-m-m:     425px;  //  mobile-m
$break-m-s:     384px;  //  mobile-s
$break-m-xs:    320px;  //  mobile-xs